#img-maker img {
    max-height: 370px;
    max-width: 100%;
}

#img-maker button {
    /* margin-left: 2px; */
    margin-top: 3px;
}

#img-maker a {
    margin-top: 3px;
    /* margin-left: 2px; */
}

#img-maker input {
    margin-top: 8px;
    margin-bottom: 8px;
}

#img-maker .input-up {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

@media only screen and (max-width: 576px) {
    #img-maker img {
        max-height: 350px;
        max-width: 100%;
    }

    #img-maker input {
        margin-top: 8px;
        width: 100%;
        margin-bottom: 8px;
    }
}