#img-block .img{
    height: 90px;
    border: 1px #D2D2D2 solid;
    border-radius: 10px;
    margin: 2px 0px 2px 0px;
    width: 100%;
}

#img-block .block-padding{
    padding: 2px;
}

#img-block h4{
    font-size: 18px;
}

#img-block .row-width{
    padding-left: 10px;
    padding-right: 10px;
}