#img-maker-gif img{
    max-height: 400px;
    width: auto;
}

#img-maker-gif button{
    /* margin-left: 2px; */
    margin-top: 3px;
}

#img-maker-gif a{
    margin-top: 3px;
    /* margin-left: 2px; */
}

#img-maker-gif .input-up {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

#img-maker-gif input{
    margin-top: 8px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 768px){
    #img-maker-gif img{
        max-height: 350px;
        width: 100%;
    }
    #img-maker-gif input{
        margin-top: 8px;
        width: 100%;
        margin-bottom: 8px;
    }
}
